<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Fact</title>
</head>
<body>
    <h1>Add new Fact</h1>
    <form action="/new" method="post">
        <label for="pet_name">Pet Name:</label>
        <input type="text" id="pet_name" name="pet_name">
        <br>
        <label for="fact">Fun fact:</label>
        <textarea id="fact" name=" fact"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <a href="/">Back to Pet List</a>
</body>
</html>